GROQ_API_KEY=groq
GEMINI_API_KEY=gemini ai
GOOGLE_API_KEY=google
OPENAI_API_KEY=open ai
MONGODB_URI=mongod
MONGODB_DATABASE=ai_youtube_learning
CHROMA_HOST=
CHROMA_PORT=
CHROMA_PERSIST_DIR=chromadb_data
MODEL_NAME=gemini-1.5-flash
GROQ_MODEL_NAME=llama-3.1-70b-versatile
OPENAI_MODEL_NAME=gpt-4o-mini
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
